<!DOCTYPE html> 
{% extends 'base.html' %}
<html lang="ru"> 
{% block title %}Сброс пароля прошёл успешно{% endblock %}
  </head>
  <body>	   
    {% block content %}
      <div class="container py-5"> 
        {% with card_header='Восстановление пароля завершено' card_body='Ваш пароль был сохранен. Используйте его для входа' %}
          {% include 'users/includes/card.html' %}
        {% endwith %}
        <a href="{% url 'users:login' %}">войти</a>
      </div>
    {% endblock %}
  </body>
</html>